doctype html
html(ng-app='mean-ah', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title MEAN Against Humanity
    link(href='/assets/custom-bs-css/bootstrap.min.css', rel='stylesheet')
    //-link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/vendor/toastr/toastr.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
    link(href='/views/lobby/lobby.css', rel='stylesheet')
    link(href='/views/new-game/new-game.css', rel='stylesheet')
    link(href='/views/games/games.css', rel='stylesheet')
    link(href='/views/card-display/card-display.css', rel='stylesheet')
    link(href='/views/results/results.css', rel='stylesheet')
    //- Load angular in head to support ng-cloak directive on nav bar
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
  body
    .container-fluid
      .row
        .col-xs-12
          include nav
      .row
        .col-xs-12
          #container(ng-view)

    include ./views/card-display/card-display.jade
    include ./views/results/results.jade

    script(src='/socket.io/socket.io.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/toastr/toastr.js')
    script(src='/vendor/localforage/dist/localforage.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.js')
    script(src='/config/toastr.js')
    script(src='/index.js')
    script(src='/nav.js')
    script(src='/views/home/home.js')
    script(src='/views/register/register.js')
    script(src='/views/login/login.js')
    script(src='/views/logout/logout.js')
    script(src='/views/lobby/lobby.js')
    script(src='/views/new-game/new-game.js')
    script(src='/views/games/games.js')
    script(src='/views/card-display/card-display.js')
    script(src='/views/results/results.js')
    script(src='/components/factories/home.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/socket.js')
    script(src='/components/factories/http-interceptor.js')
    script(src='/components/factories/game.js')

