.navbar.navbar-default.ng-cloak(role='navigation', ng-controller='NavCtrl', ng-cloak)
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#mean-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') MEAN Against Humanity

    .collapse.navbar-collapse#mean-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='alias')
        li: a(href='/#/') Home
        li: a(href='/#/register') Register
        li: a(href='/#/login') Login
      ul.nav.navbar-nav.navbar-right(ng-show='alias')
        li: a(href='/#/') Home
        li: a(href='/#/lobby') Lobby
        li: a(href='/#/game' ng-show='gameId') Game Room
        li: a(href='/#/logout') {{alias}}

