.panel
  .panel-body
    .row
      .col-xs-3
        h3 Register
        form(role='form', novalidate, name='userForm')
          .form-group
            label Alias
            input.form-control#alias(type='text', name='alias', ng-model='user.alias', autofocus, required, ng-minlength='3')
          .form-group
            label Email
            input.form-control#email(type='email', name='email', ng-model='user.email', required)
          .form-group
            label Password
            input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
          button.btn.btn-primary(ng-show='userForm.$valid', ng-click='register()') Register
      .col-xs-9
