.white-wrapper
  h2 What is MEAN Against Humanity?
  #home-wrapper
    p MEAN Against Humanity is a digital clone of Cards Against Humanity, built on the MEAN stack.
    p Cards Against Humanity is a party game for horrible people. Unlike most of the party games you've played before, Cards Against Humanity is as despicable and awkward as you and your friends.
    p The game is simple. Each round, one player asks a question from a black card, and everyone else answers with their funniest white card.
    h3 To Play A Game:
    a.btn.btn-default.btn-lg(href='/#/login') &nbsp;Login&nbsp;
    | &nbsp; or &nbsp;
    a.btn.btn-default.btn-lg(href='/#/register') Register
    p &nbsp;
    p If you enjoy this game, you should buy an official version from &nbsp;
      a(href='http://cardsagainsthumanity.com/', target='_blank') Cards Against Humanity Website

