@import '../../variables.less';

.deck {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
}

.cardCzar {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
}

.awesome-points {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
}

.players, .hand, .gameinfo, .play-hand {
  text-align: center;
}

.gameboard {
  height: 250px;
  text-align: center;
}

