.panel
  .panel-body
    .row
      .col-xs-12
        h3 Game: {{game.name}}
        button.btn.btn-primary(type='button', ng-show='game.isOwner && game.status === \'open\'', ng-click='startGame(game._id)') Start Game
        button.btn.btn-primary(type='button', ng-click='leaveGame()') Leave Game
        button.btn.btn-primary(type='button', ng-click='drawHand()') Draw Hand
    .row
      .col-xs-12
        .players
          .player(ng-repeat='player in game.players') {{player}}
    .row
      .col-xs-12
        .gameboard
          .qcard Question Card
    .row
      .col-xs-12
        .hand
          .card(ng-repeat='card in game.hand') {{card.text}}
    .row
      .col-xs-12
        .gameinfo
          .deck Q Deck Here
          .deck A Deck Here
          .cardCzar isCardCzar
          .awesome-points # Awesome Points (wins)
          button.btn.btn-primary(type='button', ng-click='reDeal()') Redeal Hand

.row
  .col-xs-12
    pre {{game | json}}

