.white-wrapper(ng-show='isLoaded')
  .row
    .col-xs-12
      button.btn.btn-default.btn-overide(type='button', ng-show='game.isOwner && game.isOpen', ng-click='startGame(game._id)') Start Game
      | &nbsp;
      button.btn.btn-default.btn-overide(type='button', ng-click='leaveGame(game._id)') Leave Game
      | &nbsp;
      button.btn.btn-default.btn-overide(type='button', ng-click='voteGameEnd(game._id)') Vote To End Game
      h3 Game: {{game.name}}
  .row
    .col-xs-12
      .players
        div(ab-player, ng-repeat='player in game.players', player='{{player}}', playedRound='', wins='0', cardczar='{{game.cardCzar === alias}}')
  .row
    .col-xs-12
      .gameboard(ng-show='!game.isOpen')
        .row
          .col-xs-12
            div(ab-qcard, qtext='{{game.round.qcard.text}}', ng-show='game.round.qcard')
        .row#czar-wrapper(ng-cloak, ng-show='game.cardCzar === alias')
          .col-xs-12
            .row(ng-hide='playedAnswers')
              .col-xs-12
                p.big-text WAITING ON PLAYERS TO ANSWER
            .row(ng-show='playedAnswers')
              .col-xs-12
                .row
                  .col-xs-12
                    button.btn.btn-default.btn-overide(type='button', ng-show='winner', ng-click='submitWinner()') Pick Winner
                .row(ng-repeat='play in playedAnswers.answers', ng-click='pickWinner(play)')
                  .col-xs-12
                    div(ab-acard, atext='{{card.text}}', ng-repeat='card in play.answers') {{card.text}}
        .row#hand-wrapper(ng-hide='game.cardCzar === alias')
          .col-xs-12
            .row
              .col-xs-12
                .play-hand
                  button.btn.btn-default.btn-overide(type='button', ng-show='game.answers.length === game.round.qcard.numAnswers && !game.play', ng-click='playAnswers()') Play Card(s)
            .row
              .col-xs-12
                .hand
                  div(ab-acard, data-id='{{card._id}}', atext='{{card.text}}', ng-repeat='card in game.hand', ng-click='selectAnswer(card)')

//-.row
//-  .col-xs-12
//-    pre alias {{alias | json}}
//-    pre playedAnswers {{playedAnswers | json}}
//-    pre winner {{winner | json}}
//-    pre game {{game | json}}

